<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <ul>
                <li>HOME</li>
                <li>REGISTER</li>
            </ul> -->
            <a href="/students" class="navbar-brand">
            <span class="glyphicon glyphicon-picture"></span>
            Students Portal
            </a>
        </div>
    </div>
</nav>